body {
    background-color: black;
    background-image: url("../img/screen_index.png");
    background-position: center top;
    background-repeat: no-repeat;
    margin: 0px;
    margin-top: 140px;
    padding: 0px;
}

@font-face {
    font-family: "belisa_plumilla";
    src: url('../font/belisa_plumilla.ttf');
}

#logCont {
    height: 300px;
    overflow: scroll;
}

#logCont div {
    display: block;
}

#logCont .stdout {
    background: #BBBBFF;
}

#logCont .stdin {
    background: #FFFFBB;
}

#logCont .stderr {
    background: #FFBBBB;
}

/* --- Console --- */

#console {
    background-color: #000000;
    padding-right: 10px;
    border: 2px solid #FFA375;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

#stdin input[type="text"]{
    width: 100%;
    padding-left: 6px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
}

h1 {
    font-family: "belisa_plumilla";
    text-align: center;
    color: white;
    font-size: 50px;
}

