body {
    background-color: black;
    background-image: url("img/screen_index.png");
    background-position: center top;
    background-repeat: no-repeat;
    margin: 0px;
    margin-top: 140px;
    padding: 0px;

}

#logCont {
    height: 300px;
    overflow: scroll;
}

#logCont div {
    display: block;
}

#logCont .stdout {
    background: #BBBBFF;
}

#logCont .stdin {
    background: #FFFFBB;
}

#logCont .stderr {
    background: #FFBBBB;
}

h1 {
    text-align: center;
    color: white;
}