#logCont {
    height: 300px;
    overflow: scroll;
}

#logCont div {
    display: block;
}

#logCont .stdout {
    background: #BBBBFF;
}

#logCont .stdin {
    background: #FFFFBB;
}

#logCont .stderr {
    background: #FFBBBB;
}
