body {
    background-color: black;
    background-image: url("img/screen_index.png");
    background-position: center top;
    background-repeat: no-repeat;
    margin: 0px;
    margin-top: 140px;
    padding: 0px;
}

@font-face {
    font-family: "belisa_plumilla";
    src: url('font/belisa_plumilla.ttf');
}

#logCont {
    height: 300px;
    overflow: scroll;
}

#logCont div {
    display: block;
}

#logCont .stdout {
    background: #BBBBFF;
}

#logCont .stdin {
    background: #FFFFBB;
}

#logCont .stderr {
    background: #FFBBBB;
}


/* --- Tools bar --- */

#toolsBar{
    position: fixed;
    width: 100%;
    height: 45px;
    border-bottom: 2px groove #A35200;
    margin-top: -140px;
    padding-top: 10px;
    padding-left: 50px;
    z-index: 2;
    
    background-color: #000000;
    opacity: 0.8;
    
    font-family: belisa_plumilla;
    font-size: 30px;
    color: #FFFFFF;
    text-shadow: 0px 1px 0px #A35200;
}

#start {
    background-image: -webkit-linear-gradient(top, #0b283b, #285210);
    border-radius: 4;
    box-shadow: 0px 1px 3px #666666;
    color: #3ac76b;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: dotted #fcfcfc 1px;
}

#stop {
    background-color: red;
}

#kill {
    background-color: green;
}


#console {
    background-color: #000000;
    border: 2px solid #FFA375;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

h1 {
    font-family: "belisa_plumilla";
    text-align: center;
    color: white;
    font-size: 50px;
}

